@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@400;500;600&display=swap');

@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;
  --font-inter: "Inter", sans-serif;
}

/* Width of scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* Hide spinner buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}